html{
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(32, 32, 32, 0.8);
    font-family: "Inter", sans-serif;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}
.navdiv{
    display: flex;
    align-items:center;
    justify-content: center;
}
li{
    list-style: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
}
li a{
    color: rgb(204, 204, 204);
    text-decoration: none;
    margin: none;
    transition: 0.3s;
}
li a:hover{
    color: white;
}
h1{
    font-family: "Inter", sans-serif;
    text-align: center;
}
p{
    font-family: "Inter", sans-serif;
    text-align: center;
}
button{
    background-color:transparent;
    border: 1px solid black;
    border-radius: 35px;
    padding: 20px 40px;
    cursor: pointer;
    text-align: center;
    outline: none;
}
button:hover{
    background-color: black;
    color: white;
}
.buttonContainer{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.slide1{
    height: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.bottomText{
    color: white;
    margin-bottom: 0;
}
.kinotediv{
    height: 720px;
    width: 100%;
    background: linear-gradient(rgb(37, 41, 109), rgb(206, 214, 239));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.kinoteLogo{
    height: 300px;
    width: auto;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.315));
    padding: 40px;
}
.kinoteTopText{
color: white;
}
.softwareList li{
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    column-count: 3;
}
.languageList li{
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    column-count: 5;
}
.parentdiv{
    display: flex;
    width: 100%;
    height: 720px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
}
.topdiv{
    width: 100%;
}
.topdiv h1{
    text-align: left;
    padding-left: 16%;
    padding-top: 15%;
}
.bottomdiv{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.childdiv{
    background-color: white;
}
.childdiv p{
    text-align: left;
}
.childdiv h1{
    text-align: left;
}
#expertisediv{
    width: 48%;
    background-color: white;
}
#softwarediv{
    width: 26%;
    background-color: white;
}
#languagediv{
    width: 26%;
}
#expertisediv p{
    padding-left: 33%;
}
#expertisediv p:not(:first-child){
    font-weight: bold;
    font-size: 32px;
}
#languagediv p:not(:first-child) {
    font-weight: bold;
}
#softwarediv p:not(:first-child) {
    font-weight: bold; 
}
.Project-div{
    height: 720px;
    width: 100%;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height:70%;
    width: 115vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.container div{
    width: 300px;
    height: 200px;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.315));
    background-color: white;
    transition: 0.5s;
}
.container div:hover{
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.315));
    width: 305px;
    height: 205px;
}
.container .box{
    font-family: "Inter", sans-serif;
    color: black;
    display: flex;
    justify-content: right;
    align-items: center;
}
.box p{
padding-right: 30px;
}
#kendoroImg{
    height: 95px;
    
}
.contacts{
    width: 100%;
    height: 360px;
    background-color: blue;
}
.footer{
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 360px;
    display: flex;
}
footer{
    padding-top: 6%;
    padding-left: 16%;
}
footer p{
    text-align: left;
    color: black;
}
footer a{
    text-decoration: none;
    color: black;
}
footer p:first-child{
    font-weight: bold;
}
footer p:not(:first-child){
    font-weight: normal;
}


